<style>

    div {
        max-width: 960px;
    }

    .introduction {
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        max-width: 80%;
        background: linear-gradient(#f63, #f33);
        font-weight: normal;
        margin: auto;
        text-align: center;
    }
    
    .description {
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        max-width: 80%;
        background: linear-gradient(#0cf, #09f);
        font-weight: normal;
        margin: auto;
    }
    
    .separator {
        border-top: 1px solid #080808;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .wp {
        margin: auto;
        text-align: center;
        margin-bottom: 2%;
    }
    
</style>

<h1 class="wp">GroupNote</h1>
<div class="introduction">
    Üdv, a <strong>GroupNote</strong> oldalán!<br> Ez az oldal jelenleg fejlesztés alatt áll, és 
    egyenlőre minimális színvonalat nyújt. 
</div>

<div class="separator"></div>


<div class="description">
    Ennek az oldalnak a célja az, hogy egy adott csoport egymás közt oszthasson meg 
    személyes, illetve a csoport tagjait érintő - publikus - bejegyzéseket.<br>
    Az oldal aktuális állapotában az alábbiakra képes: 
    <ol>
        <li>Regisztrálni felhasználókat</li>
        <li>Rögzíteni különböző státuszú bejegyzéseket, és vizuálisan jelezve, hogy milyen bejegyzések lettek felvéve már más felhasználók által.</li>
        <li>Törölni meglévő bejegyzéseket.</li>
    </ol>
</div>