<html>
    <head>
        <meta charset="utf-8">
        <title>Teszt oldal</title>
    </head>
    <body>
        <h1>{{cim}}</h1>
        <p>{{a}}</p>
        <p>Ez egy teszt.</p>
    </body>
</html>